{% extends 'base.html' %}

{% block content %}
<div style="background-color: #F3FAF7; color: #03543F;" class="p-4 max-w-2xl mx-auto rounded shadow-lg">
    <h1 style="color: #046C4E;" class="font-bold text-xl mb-2">{{ post.title }}</h1>
    <p>{{ post.content }}</p>  
    <p style="font-style: italic; color: #057A55;">Posted by {{ post.author.username }} on {{ post.created_at | date:"F d, Y" }}</p>
    <div class="post-actions flex justify-between my-4">
        {% if request.user == post.author %}
        <a href="{% url 'post_delete' pk=post.pk %}" class="py-2 px-4 bg-red-500 hover:bg-red-600 text-white rounded transition duration-300 ease-in-out">Delete Post</a>
        {% endif %}
        <form action="{% url 'like_post' post_id=post.pk %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded transition duration-300 ease-in-out">Like</button>
        </form>
        <form action="{% url 'bookmark_post' post_id=post.pk %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="py-2 px-4 bg-yellow-500 hover:bg-yellow-600 text-white rounded transition duration-300 ease-in-out">Bookmark</button>
        </form>
    </div>

    <section class="comments my-4">
        <h2>Comments</h2>
        {% if comments %}
            <ul style="list-style-type: none; padding: 0;">
                {% for comment in comments %}
                    <li style="margin-bottom: 1rem; background-color: #DEF7EC; padding: 1rem; border-radius: 0.5rem;">{{ comment.author.username }} says: "{{ comment.content }}"</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No comments yet. Be the first to comment!</p>
        {% endif %}
    </section>
    <section class="add-comment mt-4">
        <form action="{% url 'post_detail' pk=post.pk %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-2">
                <label for="id_content">Your Comment:</label>
                <textarea id="id_content" name="content" rows="4" cols="50" class="w-full p-2 rounded border border-green-300"></textarea>
            </div>
            <button type="submit" class="py-2 px-4 bg-emerald-500 hover:bg-emerald-600 text-emerald-600 font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-opacity-75 transition duration-300 ease-in-out">
                Submit Comment
            </button>
        </form>
    </section>


    <div class="navigation mt-4 mb-2">
        <a href="{% url 'posts_list' %}" class="py-2 px-4 bg-gray-500 hover:bg-gray-600 text-white rounded transition duration-300 ease-in-out">Back to all posts</a>
    </div>

</div>

{% endblock %}
